<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBVuY7O5ZvtYb7ZLLlzxtmH-ht5asnnY-g</string>
	<key>GCM_SENDER_ID</key>
	<string>652524923023</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.moedaVerde</string>
	<key>PROJECT_ID</key>
	<string>moeda-verde-fausta-hom</string>
	<key>STORAGE_BUCKET</key>
	<string>moeda-verde-fausta-hom.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:652524923023:ios:76988a5f5ee9a196ece8fa</string>
</dict>
</plist>